:root {
    --cor-primaria: #ff69b4;
    --cor-secundaria: #ae1662;
    --cor-fundo: #ffffffcc;
    --cor-texto: #5a2a4d;
    --cor-hover: #ff1493;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--cor-texto);
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 33, 137, 0.4)
    );
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.cabecalho {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-principal {
    color: var(--cor-primaria);
}

.card {
    background: var(--cor-fundo);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.titulo-secao {
    text-align: center;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}

.texto {
    text-align: center;
    line-height: 1.5;
}

.imagem-container img {
    display: block;
    margin: 15px auto;
    max-width: 80%;
    border-radius: 10px;
}

.audio-player {
    display: block;
    margin: 10px auto;
}

.lista {
    list-style: none;
    text-align: center;
}

.lista li {
    margin: 8px 0;
}

.botao {
    display: block;
    width: fit-content;
    margin: 15px auto;
    padding: 8px 16px;
    background: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.botao:hover {
    background: var(--cor-hover);
}

.rodape {
    text-align: center;
    margin-top: 20px;
}
